:root {
  --main-color: #a5a19c;
  --secondary-color: #e0dac7;
  --white-color: #eef3ee;
}

.no-scroll *::-webkit-scrollbar {
  display: none;
}

.theme-main {
  width: 10px;
  height: 26px;
}
.theme-sub {
  width: 10px;
  height: 26px;
}
.theme-text {
  width: 10px;
  height: 26px;
}
.theme-box {
  cursor: pointer;
  overflow: hidden;
  width: 30px;
  height: 26px;
  border-radius: 3px;
  display: flex;
  border: 1px solid #556;
}
